/DesignPattern/.vs
/DesignPattern/CreationalDesign/Prototype/bin
/DesignPattern/CreationalDesign/Prototype/obj
/DesignPattern/CreationalDesign/Singleton/obj
/DesignPattern/CreationalDesign/Singleton/bin
